<a href="https://colab.research.google.com/github/RajaOsama08/Stock-Market-Prediction/blob/main/Stock_market_Prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
import pandas as pd
import numpy as np

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [5]:
# Define the file paths
file_paths = {
    'AAPL': '/content/drive/MyDrive/stock_data_set/AAPL.csv',
    'CSCO': '/content/drive/MyDrive/stock_data_set/CSCO.csv',
    'INTC': '/content/drive/MyDrive/stock_data_set/INTC.csv',
    'NVDA': '/content/drive/MyDrive/stock_data_set/NVDA.csv',
    'SAP': '/content/drive/MyDrive/stock_data_set/SAP.csv'
}

# Load the datasets into pandas DataFrames
dataframes = {symbol: pd.read_csv(path) for symbol, path in file_paths.items()}

# Display the first few rows of each DataFrame
for symbol, df in dataframes.items():
    print(f"First few rows of {symbol} DataFrame:")
    print(df.head())
    print("\n")

# Display the first few rows of the DataFrame
print(df.head())

First few rows of AAPL DataFrame:
         Date       Open       High        Low      Close  Adj Close  \
0  2014-06-02  22.641430  22.672501  22.232143  22.451786  19.859396
1  2014-06-03  22.445000  22.812143  22.437500  22.769285  20.140236
2  2014-06-04  22.765715  23.138929  22.718214  23.029285  20.370214
3  2014-06-05  23.078571  23.191786  22.950357  23.119642  20.450136
4  2014-06-06  23.210714  23.259287  23.016787  23.056070  20.393915

      Volume
0  369350800
1  292709200
2  335482000
3  303805600
4  349938400


First few rows of CSCO DataFrame:
         Date       Open       High        Low      Close  Adj Close    Volume
0  2014-06-02  24.639999  24.799999  24.559999  24.780001  18.135729  20393300
1  2014-06-03  24.750000  24.820000  24.450001  24.680000  18.062546  23339100
2  2014-06-04  24.610001  24.650000  24.400000  24.500000  17.930799  20635100
3  2014-06-05  24.620001  24.740000  24.410000  24.700001  18.077187  23320300
4  2014-06-06  24.730000  24.950001  24.709999  24.830000  18.172319  22485100


First few rows of INTC DataFrame:
         Date       Open       High        Low  Close  Adj Close    Volume
0  2014-06-02  27.309999  27.350000  27.120001  27.26  20.772064  20264900
1  2014-06-03  27.219999  27.700001  27.120001  27.66  21.076866  33256300
2  2014-06-04  27.510000  27.760000  27.500000  27.60  21.031143  21612500
3  2014-06-05  27.559999  27.660000  27.430000  27.66  21.076866  26546200
4  2014-06-06  27.780001  28.209999  27.730000  28.17  21.465483  34795600


First few rows of NVDA DataFrame:
         Date     Open    High      Low    Close  Adj Close     Volume
0  2014-06-02  0.47650  0.4795  0.46950  0.47350   0.450742  181500000
1  2014-06-03  0.47450  0.4750  0.46525  0.47150   0.448839  243212000
2  2014-06-04  0.47025  0.4755  0.47000  0.47200   0.449315  161236000
3  2014-06-05  0.47275  0.4755  0.47000  0.47400   0.451218  188696000
4  2014-06-06  0.47625  0.4800  0.47450  0.47575   0.452884  161052000


First few rows of SAP DataFrame:
         Date       Open       High        Low      Close  Adj Close   Volume
0  2014-06-02  76.129997  76.180000  75.639999  75.779999  64.404167   537200
1  2014-06-03  76.110001  76.470001  76.000000  76.349998  64.888596   430300
2  2014-06-04  75.470001  75.739998  75.250000  75.379997  64.064201  1367500
3  2014-06-05  75.209999  75.900002  74.970001  75.750000  64.378670   593700
4  2014-06-06  75.470001  75.489998  74.970001  75.260002  63.962227  1112400


         Date       Open       High        Low      Close  Adj Close   Volume
0  2014-06-02  76.129997  76.180000  75.639999  75.779999  64.404167   537200
1  2014-06-03  76.110001  76.470001  76.000000  76.349998  64.888596   430300
2  2014-06-04  75.470001  75.739998  75.250000  75.379997  64.064201  1367500
3  2014-06-05  75.209999  75.900002  74.970001  75.750000  64.378670   593700
4  2014-06-06  75.470001  75.489998  74.970001  75.260002  63.962227  1112400