<a href="https://colab.research.google.com/github/RajaOsama08/Stock-Market-Prediction/blob/main/Stock_market_Prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [18]:
import pandas as pd
import numpy as np
from datetime import datetime
#import lib for K-NN
from sklearn.neighbors import KNeighborsRegressor
#import lib for XGBoost
from xgboost import XGBRegressor

from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.metrics import mean_squared_error

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
# Define the file paths
file_paths = {
    'AAPL': '/content/drive/MyDrive/stock_data_set/AAPL.csv',
    'CSCO': '/content/drive/MyDrive/stock_data_set/CSCO.csv',
    'INTC': '/content/drive/MyDrive/stock_data_set/INTC.csv',
    'NVDA': '/content/drive/MyDrive/stock_data_set/NVDA.csv',
    'SAP': '/content/drive/MyDrive/stock_data_set/SAP.csv'
}

# Load the datasets into pandas DataFrames
dataframes = {symbol: pd.read_csv(path) for symbol, path in file_paths.items()}

# Display the first few rows of each DataFrame
for symbol, df in dataframes.items():
    print(f"First few rows of {symbol} DataFrame:")
    print(df.head())
    print("\n")

# Display the first few rows of the DataFrame
print(df.head())

First few rows of AAPL DataFrame:
         Date       Open       High        Low      Close  Adj Close  \
0  2014-06-02  22.641430  22.672501  22.232143  22.451786  19.859396
1  2014-06-03  22.445000  22.812143  22.437500  22.769285  20.140236
2  2014-06-04  22.765715  23.138929  22.718214  23.029285  20.370214
3  2014-06-05  23.078571  23.191786  22.950357  23.119642  20.450136
4  2014-06-06  23.210714  23.259287  23.016787  23.056070  20.393915

      Volume
0  369350800
1  292709200
2  335482000
3  303805600
4  349938400


First few rows of CSCO DataFrame:
         Date       Open       High        Low      Close  Adj Close    Volume
0  2014-06-02  24.639999  24.799999  24.559999  24.780001  18.135729  20393300
1  2014-06-03  24.750000  24.820000  24.450001  24.680000  18.062546  23339100
2  2014-06-04  24.610001  24.650000  24.400000  24.500000  17.930799  20635100
3  2014-06-05  24.620001  24.740000  24.410000  24.700001  18.077187  23320300
4  2014-06-06  24.730000  24.950001  24.709999  24.830000  18.172319  22485100


First few rows of INTC DataFrame:
         Date       Open       High        Low  Close  Adj Close    Volume
0  2014-06-02  27.309999  27.350000  27.120001  27.26  20.772064  20264900
1  2014-06-03  27.219999  27.700001  27.120001  27.66  21.076866  33256300
2  2014-06-04  27.510000  27.760000  27.500000  27.60  21.031143  21612500
3  2014-06-05  27.559999  27.660000  27.430000  27.66  21.076866  26546200
4  2014-06-06  27.780001  28.209999  27.730000  28.17  21.465483  34795600


First few rows of NVDA DataFrame:
         Date     Open    High      Low    Close  Adj Close     Volume
0  2014-06-02  0.47650  0.4795  0.46950  0.47350   0.450742  181500000
1  2014-06-03  0.47450  0.4750  0.46525  0.47150   0.448839  243212000
2  2014-06-04  0.47025  0.4755  0.47000  0.47200   0.449315  161236000
3  2014-06-05  0.47275  0.4755  0.47000  0.47400   0.451218  188696000
4  2014-06-06  0.47625  0.4800  0.47450  0.47575   0.452884  161052000


First few rows of SAP DataFrame:
         Date       Open       High        Low      Close  Adj Close   Volume
0  2014-06-02  76.129997  76.180000  75.639999  75.779999  64.404167   537200
1  2014-06-03  76.110001  76.470001  76.000000  76.349998  64.888596   430300
2  2014-06-04  75.470001  75.739998  75.250000  75.379997  64.064201  1367500
3  2014-06-05  75.209999  75.900002  74.970001  75.750000  64.378670   593700
4  2014-06-06  75.470001  75.489998  74.970001  75.260002  63.962227  1112400


         Date       Open       High        Low      Close  Adj Close   Volume
0  2014-06-02  76.129997  76.180000  75.639999  75.779999  64.404167   537200
1  2014-06-03  76.110001  76.470001  76.000000  76.349998  64.888596   430300
2  2014-06-04  75.470001  75.739998  75.250000  75.379997  64.064201  1367500
3  2014-06-05  75.209999  75.900002  74.970001  75.750000  64.378670   593700
4  2014-06-06  75.470001  75.489998  74.970001  75.260002  63.962227  1112400

In [4]:
df1 = dataframes['AAPL']
df2 = dataframes['CSCO']
df3 = dataframes['INTC']
df4 = dataframes['NVDA']
df5 = dataframes['SAP']
print(df1)

            Date        Open        High         Low       Close   Adj Close  \
0     2014-06-02   22.641430   22.672501   22.232143   22.451786   19.859396
1     2014-06-03   22.445000   22.812143   22.437500   22.769285   20.140236
2     2014-06-04   22.765715   23.138929   22.718214   23.029285   20.370214
3     2014-06-05   23.078571   23.191786   22.950357   23.119642   20.450136
4     2014-06-06   23.210714   23.259287   23.016787   23.056070   20.393915
...          ...         ...         ...         ...         ...         ...
2513  2024-05-24  188.820007  190.580002  188.039993  189.979996  189.979996
2514  2024-05-28  191.509995  193.000000  189.100006  189.990005  189.990005
2515  2024-05-29  189.610001  192.250000  189.509995  190.289993  190.289993
2516  2024-05-30  190.759995  192.179993  190.630005  191.289993  191.289993
2517  2024-05-31  191.440002  192.570007  189.910004  192.250000  192.250000

         Volume
0     369350800
1     292709200
2     335482000
3     303805600
4     349938400
...         ...
2513   36294600
2514   52280100
2515   53068000
2516   49947900
2517   75158300

[2518 rows x 7 columns]

In [5]:
df1['Date'] = pd.to_datetime(df1['Date'])
print('first print',df1)
print('\n')
df1.set_index('Date', inplace=True)
print('second print',df1)
print('\n')

first print            Date        Open        High         Low       Close   Adj Close  \
0    2014-06-02   22.641430   22.672501   22.232143   22.451786   19.859396
1    2014-06-03   22.445000   22.812143   22.437500   22.769285   20.140236
2    2014-06-04   22.765715   23.138929   22.718214   23.029285   20.370214
3    2014-06-05   23.078571   23.191786   22.950357   23.119642   20.450136
4    2014-06-06   23.210714   23.259287   23.016787   23.056070   20.393915
...         ...         ...         ...         ...         ...         ...
2513 2024-05-24  188.820007  190.580002  188.039993  189.979996  189.979996
2514 2024-05-28  191.509995  193.000000  189.100006  189.990005  189.990005
2515 2024-05-29  189.610001  192.250000  189.509995  190.289993  190.289993
2516 2024-05-30  190.759995  192.179993  190.630005  191.289993  191.289993
2517 2024-05-31  191.440002  192.570007  189.910004  192.250000  192.250000

         Volume
0     369350800
1     292709200
2     335482000
3     303805600
4     349938400
...         ...
2513   36294600
2514   52280100
2515   53068000
2516   49947900
2517   75158300

[2518 rows x 7 columns]


second print                   Open        High         Low       Close   Adj Close  \
Date
2014-06-02   22.641430   22.672501   22.232143   22.451786   19.859396
2014-06-03   22.445000   22.812143   22.437500   22.769285   20.140236
2014-06-04   22.765715   23.138929   22.718214   23.029285   20.370214
2014-06-05   23.078571   23.191786   22.950357   23.119642   20.450136
2014-06-06   23.210714   23.259287   23.016787   23.056070   20.393915
...                ...         ...         ...         ...         ...
2024-05-24  188.820007  190.580002  188.039993  189.979996  189.979996
2024-05-28  191.509995  193.000000  189.100006  189.990005  189.990005
2024-05-29  189.610001  192.250000  189.509995  190.289993  190.289993
2024-05-30  190.759995  192.179993  190.630005  191.289993  191.289993
2024-05-31  191.440002  192.570007  189.910004  192.250000  192.250000

               Volume
Date
2014-06-02  369350800
2014-06-03  292709200
2014-06-04  335482000
2014-06-05  303805600
2014-06-06  349938400
...               ...
2024-05-24   36294600
2024-05-28   52280100
2024-05-29   53068000
2024-05-30   49947900
2024-05-31   75158300

[2518 rows x 6 columns]

**Handling missing values**

In [6]:
# Check for missing values
missing_values = df1.isnull().sum()
print(missing_values)

Open         0
High         0
Low          0
Close        0
Adj Close    0
Volume       0
dtype: int64

**Feature Engineerig**

In [7]:
# Moving averages
df1['MA10'] = df1['Adj Close'].rolling(window=10).mean()
df1['MA50'] = df1['Adj Close'].rolling(window=50).mean()

# Daily returns
print('Daily returns')
df1['Daily Return'] = df1['Adj Close'].pct_change()

# Volatility
print('volatility')
df1['Volatility'] = df1['Daily Return'].rolling(window=10).std()

print(df1)

Daily returns
volatility
                  Open        High         Low       Close   Adj Close  \
Date
2014-06-02   22.641430   22.672501   22.232143   22.451786   19.859396
2014-06-03   22.445000   22.812143   22.437500   22.769285   20.140236
2014-06-04   22.765715   23.138929   22.718214   23.029285   20.370214
2014-06-05   23.078571   23.191786   22.950357   23.119642   20.450136
2014-06-06   23.210714   23.259287   23.016787   23.056070   20.393915
...                ...         ...         ...         ...         ...
2024-05-24  188.820007  190.580002  188.039993  189.979996  189.979996
2024-05-28  191.509995  193.000000  189.100006  189.990005  189.990005
2024-05-29  189.610001  192.250000  189.509995  190.289993  190.289993
2024-05-30  190.759995  192.179993  190.630005  191.289993  191.289993
2024-05-31  191.440002  192.570007  189.910004  192.250000  192.250000

               Volume        MA10        MA50  Daily Return  Volatility
Date
2014-06-02  369350800         NaN         NaN           NaN         NaN
2014-06-03  292709200         NaN         NaN      0.014141         NaN
2014-06-04  335482000         NaN         NaN      0.011419         NaN
2014-06-05  303805600         NaN         NaN      0.003923         NaN
2014-06-06  349938400         NaN         NaN     -0.002749         NaN
...               ...         ...         ...           ...         ...
2024-05-24   36294600  189.428998  175.735192      0.016588    0.011626
2024-05-28   52280100  189.799998  176.087269      0.000053    0.010579
2024-05-29   53068000  190.085998  176.423375      0.001579    0.010478
2024-05-30   49947900  190.242998  176.732345      0.005255    0.009907
2024-05-31   75158300  190.483998  177.008785      0.005019    0.009993

[2518 rows x 10 columns]

**Dropping NaN**

In [8]:
print(pd.isna(df1).sum().sum())
# Drop rows with NaNs
df1.dropna(inplace=True)

69

In [9]:
scaler = MinMaxScaler()

# Scaling the features except for the target variable (Adj Close)
df1[['Open', 'High', 'Low', 'Close', 'Volume', 'MA10', 'MA50', 'Daily Return', 'Volatility']] = scaler.fit_transform(
    df1[['Open', 'High', 'Low', 'Close', 'Volume', 'MA10', 'MA50', 'Daily Return', 'Volatility']])

**Setting data for model prepration**

In [10]:
# Define features and target variable
features = ['Open', 'High', 'Low', 'Close', 'Volume', 'MA10', 'MA50', 'Daily Return', 'Volatility']
X = df1[features]
y = df1['Adj Close']

**Data Sampling for test-train**

In [14]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, shuffle=False)

In [16]:
# K-NN model
knn_model = KNeighborsRegressor()

# Hyperparameter tuning using GridSearchCV
HyperParams = {'n_neighbors': range(1, 20)}
grid_search_cv = GridSearchCV(knn_model, HyperParams, cv=5, scoring='neg_mean_squared_error')
grid_search_cv.fit(X_train, y_train)

# Get the best K-NN model
best_knn_est = grid_search_cv.best_estimator_

# Model Train on training data set
best_knn_est.fit(X_train, y_train)

# Performing prediction on test data set
y_pred = best_knn_est.predict(X_test)

# Model Evaluation
K_mse = mean_squared_error(y_test, y_pred)
rmse = K_mse ** 0.5

print(f"Best K-NN model: {best_knn_est}")
print(f"RMSE on test set: {rmse}")

# Predicting the Adj Close price for the next day
next_day_features_KNN = X.iloc[-1].values.reshape(1, -1)
next_day_prediction_KNN = best_knn_est.predict(next_day_features_KNN)
print(f"Predicted Adj Close price for the next day: {next_day_prediction_KNN[0]}")

Best K-NN model: KNeighborsRegressor(n_neighbors=1)
RMSE on test set: 7.096278183634583
Predicted Adj Close price for the next day: 177.203201

/usr/local/lib/python3.10/dist-packages/sklearn/base.py:439: UserWarning: X does not have valid feature names, but KNeighborsRegressor was fitted with feature names
  warnings.warn(

In [19]:
# Step 4: XGBoost Model
xgb_model = XGBRegressor(objective='reg:squarederror')
xgb_model.fit(X_train, y_train)

# Predict on the test set
y_pred = xgb_model.predict(X_test)

# Evaluate the model
XGB_mse = mean_squared_error(y_test, y_pred)
rmse = XGB_mse ** 0.5

print(f"RMSE on test set: {rmse}")

# Predicting the Adj Close price for the next day
next_day_features_XGB = pd.DataFrame([X.iloc[-1]], columns=features)
next_day_features_scaled = scaler.transform(next_day_features_XGB)
next_day_prediction_XGB = xgb_model.predict(next_day_features_scaled)
print(f"Predicted Adj Close price for the next day: {next_day_prediction_XGB[0]}")

RMSE on test set: 6.467728803667712
Predicted Adj Close price for the next day: 21.71510887145996